In [36]:
import pandas as pd

In [37]:
# Cargar datos
df = pd.read_csv(r"C:\Users\PERSONAL\Desktop\Github\BibliotecaIA\data\raw\books.csv", on_bad_lines='skip') 
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7     num_pages         11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

In [39]:
# Seleccionar solo las columnas 'title', 'authors' e 'isbn'
df = df[['title', 'authors', 'isbn13']]
df.head()

,title,authors,isbn13
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,9780439785969
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,9780439358071
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,9780439554893
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,9780439655484
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,9780439682589

In [40]:

# Eliminar filas con valores nulos en cualquiera de las columnas clave
df = df.dropna(subset=['title', 'authors', 'isbn13'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    11123 non-null  object
 1   authors  11123 non-null  object
 2   isbn13   11123 non-null  int64
dtypes: int64(1), object(2)
memory usage: 260.8+ KB

In [41]:
# Limpiar espacios en blanco al inicio y final
df['title'] = df['title'].str.strip()
df['authors'] = df['authors'].str.strip()
df['isbn13'] = df['isbn13'].astype(str).str.strip()
df.tail()

,title,authors,isbn13
11118,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,9781560254416
11119,You Bright and Risen Angels,William T. Vollmann,9780140110876
11120,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,9780140131963
11121,Poor People,William T. Vollmann,9780060878825
11122,Las aventuras de Tom Sawyer,Mark Twain,9788497646987

In [42]:
# Validar formato de ISBN13: debe tener exactamente 13 dígitos numéricos
df = df[df['isbn13'].str.match(r'^\d{13}$')]

In [43]:
# Eliminar filas con titulo igual
df = df.drop_duplicates(subset=['title'], keep='first')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10323 entries, 0 to 11122
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    10323 non-null  object
 1   authors  10323 non-null  object
 2   isbn13   10323 non-null  object
dtypes: object(3)
memory usage: 322.6+ KB

In [44]:
# Eliminar duplicados por ISBN13 (si hay más de un libro con el mismo isbn13)
df = df.drop_duplicates(subset='isbn13')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10323 entries, 0 to 11122
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    10323 non-null  object
 1   authors  10323 non-null  object
 2   isbn13   10323 non-null  object
dtypes: object(3)
memory usage: 322.6+ KB

In [45]:
print("Longitud máxima por columna:")
print("Título:", df['title'].str.len().max())
print("Autor:", df['authors'].str.len().max())
print("ISBN13:", df['isbn13'].astype(str).str.len().max())

Longitud máxima por columna:
Título: 254
Autor: 750
ISBN13: 13

In [46]:
# Limitar longitud para que no exceda la definida en el modelo SQL
df['title'] = df['title'].str.slice(0, 300)
df['authors'] = df['authors'].str.slice(0, 800)
df['isbn13'] = df['isbn13'].str.slice(0, 20)

In [47]:
# Guardar CSV procesado
df.to_csv('../data/processed/books_clean.csv', index=False, encoding='utf-8')