In [1]:
import pandas as pd
from deep_translator import GoogleTranslator

In [2]:
# Cargar datos
df = pd.read_csv(r"C:\Users\PERSONAL\Desktop\Github\BibliotecaIA\data\raw\books.csv", on_bad_lines='skip') 
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7     num_pages         11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

In [4]:
print(df.describe())

             bookID  average_rating        isbn13     num_pages  \
count  11123.000000    11123.000000  1.112300e+04  11123.000000
mean   21310.856963        3.934075  9.759880e+12    336.405556
std    13094.727252        0.350485  4.429758e+11    241.152626
min        1.000000        0.000000  8.987060e+09      0.000000
25%    10277.500000        3.770000  9.780345e+12    192.000000
50%    20287.000000        3.960000  9.780582e+12    299.000000
75%    32104.500000        4.140000  9.780872e+12    416.000000
max    45641.000000        5.000000  9.790008e+12   6576.000000

       ratings_count  text_reviews_count
count   1.112300e+04        11123.000000
mean    1.794285e+04          542.048099
std     1.124992e+05         2576.619589
min     0.000000e+00            0.000000
25%     1.040000e+02            9.000000
50%     7.450000e+02           47.000000
75%     5.000500e+03          238.000000
max     4.597666e+06        94265.000000

In [5]:
#Filtrar los libro que mas votaciones tienen
df = df[df['ratings_count'] > 200000]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177 entries, 0 to 10750
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              177 non-null    int64
 1   title               177 non-null    object
 2   authors             177 non-null    object
 3   average_rating      177 non-null    float64
 4   isbn                177 non-null    object
 5   isbn13              177 non-null    int64
 6   language_code       177 non-null    object
 7     num_pages         177 non-null    int64
 8   ratings_count       177 non-null    int64
 9   text_reviews_count  177 non-null    int64
 10  publication_date    177 non-null    object
 11  publisher           177 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 18.0+ KB

In [6]:
# Seleccionar solo las columnas 'title', 'authors' e 'isbn'
df = df[['title', 'authors', 'isbn13']]
df.head()

,title,authors,isbn13
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,9780439785969
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,9780439358071
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,9780439655484
8,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,9780345453747
12,A Short History of Nearly Everything,Bill Bryson,9780767908184

In [7]:

# Eliminar filas con valores nulos en cualquiera de las columnas clave
df = df.dropna(subset=['title', 'authors', 'isbn13'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 177 entries, 0 to 10750
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    177 non-null    object
 1   authors  177 non-null    object
 2   isbn13   177 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.5+ KB

In [8]:
# Limpiar espacios en blanco al inicio y final
df['title'] = df['title'].str.strip()
df['authors'] = df['authors'].str.strip()
df['isbn13'] = df['isbn13'].astype(str).str.strip()
df.tail()

,title,authors,isbn13
10395,Something Borrowed (Darcy & Rachel #1),Emily Giffin,9780312321185
10527,Dark Lover (Black Dagger Brotherhood #1),J.R. Ward,9780451216953
10700,Water for Elephants,Sara Gruen,9781565125605
10728,Interview with the Vampire (The Vampire Chroni...,Anne Rice,9780345476876
10750,Wizard's First Rule (Sword of Truth #1),Terry Goodkind,9780765346520

In [9]:
# Validar formato de ISBN13: debe tener exactamente 13 dígitos numéricos
df = df[df['isbn13'].str.match(r'^\d{13}$')]

In [10]:
# Eliminar filas con titulo igual
df = df.drop_duplicates(subset=['title'], keep='first')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 176 entries, 0 to 10750
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    176 non-null    object
 1   authors  176 non-null    object
 2   isbn13   176 non-null    object
dtypes: object(3)
memory usage: 5.5+ KB

In [11]:
# Eliminar duplicados por ISBN13 (si hay más de un libro con el mismo isbn13)
df = df.drop_duplicates(subset='isbn13')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 176 entries, 0 to 10750
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    176 non-null    object
 1   authors  176 non-null    object
 2   isbn13   176 non-null    object
dtypes: object(3)
memory usage: 5.5+ KB

In [12]:
print("Longitud máxima por columna:")
print("Título:", df['title'].str.len().max())
print("Autor:", df['authors'].str.len().max())
print("ISBN13:", df['isbn13'].astype(str).str.len().max())

Longitud máxima por columna:
Título: 88
Autor: 92
ISBN13: 13

In [13]:
# Limitar longitud para que no exceda la definida en el modelo SQL
df['title'] = df['title'].str.slice(0, 300)
df['authors'] = df['authors'].str.slice(0, 800)
df['isbn13'] = df['isbn13'].str.slice(0, 20)

In [14]:
df["titulo_es"] = df["title"].apply(lambda x: GoogleTranslator(source='en', target='es').translate(x))
df.head()

,title,authors,isbn13,titulo_es
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,9780439785969,Harry Potter y el Príncipe Half-Blood (Harry P...
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,9780439358071,Harry Potter y la Orden del Phoenix (Harry Pot...
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,9780439655484,Harry Potter y el prisionero de Azkaban (Harry...
8,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,9780345453747,The Ultimate Hitchhiker's Guide to the Galaxy ...
12,A Short History of Nearly Everything,Bill Bryson,9780767908184,Una breve historia de casi todo

In [ ]:
df['title'] = df['titulo_es']
df = df.drop(columns=['titulo_es'])

In [17]:
df.tail()

,title,authors,isbn13
10395,Algo prestado (Darcy y Rachel #1),Emily Giffin,9780312321185
10527,Dark Lover (Brotherhood de Dagger Black #1),J.R. Ward,9780451216953
10700,Agua para elefantes,Sara Gruen,9781565125605
10728,Entrevista con The Vampire (The Vampire Chroni...,Anne Rice,9780345476876
10750,La primera regla del mago (Espada de la verdad...,Terry Goodkind,9780765346520

In [22]:
import re
# Elimina cualquier contenido dentro de paréntesis y espacios sobrantes
df["title_limpio"] = df["title"].str.replace(r"\s*\(.*?\)", "", regex=True).str.strip()
df['title'] = df['title_limpio']
df = df.drop(columns=['title_limpio'])
df.head()

,title,authors,isbn13
0,Harry Potter y el Príncipe Half-Blood,J.K. Rowling/Mary GrandPré,9780439785969
1,Harry Potter y la Orden del Phoenix,J.K. Rowling/Mary GrandPré,9780439358071
3,Harry Potter y el prisionero de Azkaban,J.K. Rowling/Mary GrandPré,9780439655484
8,The Ultimate Hitchhiker's Guide to the Galaxy,Douglas Adams,9780345453747
12,Una breve historia de casi todo,Bill Bryson,9780767908184

In [23]:
# Guardar CSV procesado
df.to_csv('../data/processed/books_clean.csv', index=False, encoding='utf-8')